body{
font-family: 'Catamaran', sans-serif;
}
h1{
  font-size: 3em;
}
.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-inverse .navbar-brand {
    color: #FCCD05;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FCCD05;
}
#body{
  background-image: url(http://cdn.idigitaltimes.com/sites/idigitaltimes.com/files/2016/02/09/super-mario-maker-level_0.jpg);
  height: 300px;
}
#footer{
  background-color: black;
  height: 600px;
}
input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

input[type=text]:focus {
    width: 100%;
}
